<% provide(:title, "Edit " + @musician.firstname) %>
<!-- Page Content -->
<div class="container-fluid nav-buffer">
  <a href="<%= musicians_path %>/<%= @musician.id %>" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    back to musician page
  </a>
  <div class="jumbotron hero-spacer text-center">
    <h1>Edit Musician Profile</h1>
  </div>
  <%= render 'form', musician: @musician %>
</div>
