<% provide(:title, "Edit " + @user.firstname) %>
<!-- Page Content -->
<div class="container nav-buffer">
  <a href="<%= users_path %>/<%= @user.id %>" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    back to user page
  </a>
  <div class="jumbotron hero-spacer text-center alert-info">
    <h1>Edit User Profile</h1>
  </div>
  <%= render 'form', user: @user %>
</div>
