<% provide(:title, "Create User Account") %>
<div class="container nav-buffer">
  <a href="/" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    back home
  </a>
  <div class="jumbotron hero-spacer text-center alert-success">
    <h1>Create Standard Account</h1>
    <h3>After a quick registration you'll be able to contact and book bands!</h3>
    <p><%= link_to "Note: If you're a musician or band, then click here to register", bands_newacct_path %></p>

  </div>
  <%= render 'form', user: @user, type: 'u' %>
  <br>
  <p>Already registered? <%= link_to "Login to your account", login_path %></p>
</div>
