<% provide(:title, @user.firstname + " home") %>
<!-- Page Content -->
<div class="container-fluid nav-buffer">
  <a href="/bands" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    back to browsing
  </a>
  <!-- Jumbotron Header -->
  <div class="jumbotron hero-spacer text-center">
    <h1>Welcome <%= @user.firstname %>!</h1>
    <h3>Member since: <%= @user.created_at %></h3>
    <p>
      <%= link_to 'Edit User Info', edit_user_path(@user), class: "btn btn-info" %>
    </p>
  </div>
  <hr>

  <% if @user.user_type == 'm' %>
    <div class="row">
      <div class="col-lg-12">
        <h3>Musician Profile</h3>
      </div>

      <div class="col col-lg-12">
        <h3>Bands</h3>
      </div>
    </div>
  <% end %>
</div>
