<!-- Page Content -->
<div class="container-fluid nav-buffer">
  <a href="/bands/<%= @band.id %>" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    back to band page
  </a>
  <div class="jumbotron hero-spacer text-center">
    <h1>Edit Band Info</h1>
  </div>
  <%= render 'form', band: @band %>
</div>
