<% provide(:title, "Create Band Profile") %>
<div class="container nav-buffer">
  <a href="/" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    back home
  </a>
  <div class="jumbotron hero-spacer text-center alert-success">
    <h1>Create New Account</h1>
  </div>
  <%= render 'form', band: @band %>
</div>
