<div class="container-fluid nav-buffer">
  <a href="/" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left"></span>
    back home
  </a>
  <div class="jumbotron hero-spacer text-center">
    <h1>Create New Band</h1>
  </div>
  <%= render 'form', band: @band %>
</div>
