// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.band-tile {
  height: 45vh;
  padding: 10px;
  width: 96%;
  margin: 0 2% 10px;
  overflow: hidden;
  border: 1px solid rgba(150,150,150,.7);
  border-radius: 8px;
  transition: 0.4s ease-in-out;
}

.band-tile:hover {
  overflow-y: scroll;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 30px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 12px 30px -5px rgba(0,0,0,0.7);
  box-shadow: 0 12px 30px -5px rgba(0,0,0,0.7);
}

.band-tile-subheading {
  margin: 10px 0;
  text-align: center;
  font-weight: bolder;
}

.band-tile-content {
  margin-top: 10px;
  font-size: 1.1em;
}

.padded-10 {
  padding: 10px;
}

.band-pic {
  img {
    margin: 0 auto;
    height: 400px;
    width: auto;

  }
}

.band-pic-sm {
  margin: 0 auto;
  height: 200px;
  width: auto;
}

.musician-search-table
{
  text-align: center;
  thead {
    tr{
      th{
        &:hover {
          cursor: pointer;
          color: blue;
        }
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #dff0d8;
        cursor: pointer;
      }
      &:selected {
        background-color: #dff0d8;
      }
    }
  }
}
.table-medium {
  max-height: 30vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
}
