<footer class="footer container">


  <nav>
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Contact", '/#contact' %></li>
      <% if logged_in? %>
        <li>
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
      <% else %>
        <a href=<%= login_path %>>Login</a>
      <% end %>
    </ul>
  </nav>

  <small>
    <a href="http://www.bostonjazzgigs.com/">BostonJazzGigs</a>
    updated June 2017 by <a href="http://about.jjanelle.me/">Figlet Studios</a>
  </small>
</footer>
